In [90]:
# wodpyがインストールされている前提
from wodpy import wod
# ファイルを開く
fid = open("CTDO3110")
# ファイルを開いて一つのプロファイルをprofilesという配列に追加していく
profiles=[]
while True:
    profiles.append(wod.WodProfile(fid))
    if profiles[-1].is_last_profile_in_file(fid):
    # profilesがファイルで最後のプロファイルだった場合ループから抜け出す。
        break

In [87]:
# 最新10件分のプロファイルの年と緯度経度をprintする。

for profile in profiles[-10:]:
    print([profile.year(), profile.latitude(),profile.longitude()])

[2005, -10.285, 109.0]
[2005, -10.252, 109.997]
[2012, -10.0, 101.0]
[2012, -13.0, 102.0]
[2012, -14.667, 103.0]
[2012, -15.0, 106.0]
[2012, -14.0, 109.0]
[2015, -12.5008, 107.3375]
[2019, -13.649, 109.952]
[2019, -14.392, 109.344]

In [88]:
# 最新のもののdataframe(df)を表示
profile = profiles[-1]
profile.df()

/opt/conda/lib/python3.9/site-packages/wodpy/wod.py:792: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.meta = meta

,z,z_level_qc,z_unc,t,t_level_qc,t_unc,s,s_level_qc,s_unc,oxygen,phosphate,silicate,pH,p
0,10.0,0,NaN,27.74,0,NaN,34.59,0,NaN,NaN,NaN,NaN,NaN,NaN
1,11.0,0,NaN,27.70,0,NaN,34.58,0,NaN,NaN,NaN,NaN,NaN,NaN
2,13.0,0,NaN,27.67,0,NaN,34.58,0,NaN,NaN,NaN,NaN,NaN,NaN
3,14.0,0,NaN,27.66,0,NaN,34.58,0,NaN,NaN,NaN,NaN,NaN,NaN
4,17.0,0,NaN,27.64,0,NaN,34.58,0,NaN,NaN,NaN,NaN,NaN,NaN
5,20.0,0,NaN,27.63,0,NaN,34.59,0,NaN,NaN,NaN,NaN,NaN,NaN
6,21.0,0,NaN,27.62,0,NaN,34.59,0,NaN,NaN,NaN,NaN,NaN,NaN
7,22.0,0,NaN,27.60,0,NaN,34.61,0,NaN,NaN,NaN,NaN,NaN,NaN
8,24.0,0,NaN,27.56,0,NaN,34.63,0,NaN,NaN,NaN,NaN,NaN,NaN
9,25.0,0,NaN,27.51,0,NaN,34.64,0,NaN,NaN,NaN,NaN,NaN,NaN
10,26.0,0,NaN,27.20,0,NaN,34.67,0,NaN,NaN,NaN,NaN,NaN,NaN
11,30.0,0,NaN,24.47,0,NaN,34.44,0,NaN,NaN,NaN,NaN,NaN,NaN
12,42.0,0,NaN,22.90,0,NaN,34.43,0,NaN,NaN,NaN,NaN,NaN,NaN
13,55.0,0,NaN,22.19,0,NaN,34.43,0,NaN,NaN,NaN,NaN,NaN,NaN
14,65.0,0,NaN,21.12,0,NaN,34.49,0,NaN,NaN,NaN,NaN,NaN,NaN
15,84.0,0,NaN,20.69,0,NaN,34.61,0,NaN,NaN,NaN,NaN,NaN,NaN
16,96.0,0,NaN,20.66,0,NaN,35.03,0,NaN,NaN,NaN,NaN,NaN,NaN
17,106.0,0,NaN,18.87,0,NaN,34.68,0,NaN,NaN,NaN,NaN,NaN,NaN
18,125.0,0,NaN,18.50,0,NaN,34.99,0,NaN,NaN,NaN,NaN,NaN,NaN
19,138.0,0,NaN,17.93,0,NaN,35.16,0,NaN,NaN,NaN,NaN,NaN,NaN
20,164.0,0,NaN,14.81,0,NaN,34.75,0,NaN,NaN,NaN,NaN,NaN,NaN
21,193.0,0,NaN,13.36,0,NaN,34.71,0,NaN,NaN,NaN,NaN,NaN,NaN
22,222.0,0,NaN,12.60,0,NaN,34.77,0,NaN,NaN,NaN,NaN,NaN,NaN
23,233.0,0,NaN,12.69,0,NaN,34.82,0,NaN,NaN,NaN,NaN,NaN,NaN
24,250.0,0,NaN,11.71,0,NaN,34.74,0,NaN,NaN,NaN,NaN,NaN,NaN
25,280.0,0,NaN,11.25,0,NaN,34.78,0,NaN,NaN,NaN,NaN,NaN,NaN
26,289.0,0,NaN,11.42,0,NaN,34.87,0,NaN,NaN,NaN,NaN,NaN,NaN
27,297.0,0,NaN,11.14,0,NaN,34.85,0,NaN,NaN,NaN,NaN,NaN,NaN
28,332.0,0,NaN,10.32,0,NaN,34.79,0,NaN,NaN,NaN,NaN,NaN,NaN
29,355.0,0,NaN,9.69,0,NaN,34.73,0,NaN,NaN,NaN,NaN,NaN,NaN
30,370.0,0,NaN,9.33,0,NaN,34.70,0,NaN,NaN,NaN,NaN,NaN,NaN
31,415.0,0,NaN,8.80,0,NaN,34.67,0,NaN,NaN,NaN,NaN,NaN,NaN
32,431.0,0,NaN,8.49,0,NaN,34.65,0,NaN,NaN,NaN,NaN,NaN,NaN
33,468.0,0,NaN,8.07,0,NaN,34.65,0,NaN,NaN,NaN,NaN,NaN,NaN
34,506.0,0,NaN,7.76,0,NaN,34.64,0,NaN,NaN,NaN,NaN,NaN,NaN
35,533.0,0,NaN,7.45,0,NaN,34.64,0,NaN,NaN,NaN,NaN,NaN,NaN
36,579.0,0,NaN,7.13,0,NaN,34.64,0,NaN,NaN,NaN,NaN,NaN,NaN
37,605.0,0,NaN,7.01,0,NaN,34.65,0,NaN,NaN,NaN,NaN,NaN,NaN
38,630.0,0,NaN,6.88,0,NaN,34.65,0,NaN,NaN,NaN,NaN,NaN,NaN
39,676.0,0,NaN,6.57,0,NaN,34.65,0,NaN,NaN,NaN,NaN,NaN,NaN
40,719.0,0,NaN,6.31,0,NaN,34.64,0,NaN,NaN,NaN,NaN,NaN,NaN
41,768.0,0,NaN,6.02,0,NaN,34.64,0,NaN,NaN,NaN,NaN,NaN,NaN
42,809.0,0,NaN,5.87,0,NaN,34.64,0,NaN,NaN,NaN,NaN,NaN,NaN
43,830.0,0,NaN,5.74,0,NaN,34.63,0,NaN,NaN,NaN,NaN,NaN,NaN
44,899.0,0,NaN,5.46,0,NaN,34.63,0,NaN,NaN,NaN,NaN,NaN,NaN
45,931.0,0,NaN,5.24,0,NaN,34.62,0,NaN,NaN,NaN,NaN,NaN,NaN
46,960.0,0,NaN,4.95,0,NaN,34.63,0,NaN,NaN,NaN,NaN,NaN,NaN
47,1000.0,0,NaN,4.76,0,NaN,34.63,0,NaN,NaN,NaN,NaN,NaN,NaN
48,1005.0,0,NaN,4.72,0,NaN,34.63,0,NaN,NaN,NaN,NaN,NaN,NaN